#about {
  background-color: #272b33;
}

#about .sectionWrap {
  color: #fff;
}

#profilePic {
  width: 500px;
}

/* Responsive Image */
@media (max-width: 991px) {
  #profilePic {
    width: 400px;
  }
}

/* Responsive text for small displays */
@media (max-width: 576px) {
  #about h1 {
    font-size: 2em;
  }

  #about h2 {
    font-size: 1.5em;
  }

  #about p {
    font-size: 0.9em;
  }
}