#about {
  background-color: #272b33;
}

#about .sectionWrap {
  color: #fff;
}

#profilePic {
  width: 500px;
}

/* Responsive Image */
@media (max-width: 991px) {
  #profilePic {
    width: 400px;
  }
}