#landing {
  background-image: url('../imgs/backgrounds/landing-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12%;
  padding-left: 5%;
}

#landing h1 {
  font-size: 70pt;
  padding-bottom: 0.25em;
}

#landing h2 {
  font-size: 20pt;
  padding-bottom: 1em;
}

/*
  Scales landing text when screen becomes too small
*/
@media screen and (max-width: 400px) {
  #landing {
    padding-top: 30%;
  }

  #landing h1 {
    font-size: 50pt;
  }
  #landing h2 {
    font-size: 15pt;
  }
}