#landing {
  background-image: url('../imgs/backgrounds/landing-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.landingHeading {
  padding-top: 12%;
  padding-left: 6%;
}

#landing h1 {
  font-size: 75pt;
}

#landing h2 {
  font-size: 20pt;
}

/*
  Scales landing text when screen becomes too small
*/
@media screen and (max-width: 400px) {
  #landing h1 {
    font-size: 50pt;
    padding-top: 5%;
  }
  #landing h2 {
    font-size: 10pt;
  }
}

@media screen and (max-height: 400px) {
  #landing h1 {
    font-size: 50pt;
    padding-top: 5%;
  }
  #landing h2 {
    font-size: 10pt;
  }
}