nav {
  background-color: #fff;
  visibility: hidden; /* Navbar transitions will change this value */
}

/*
  CSS Navbar transition classes
*/
.hideNav {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.showNav {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}