html {
  font-family: 'Montserrat', sans-serif;
}

#landing {
  background-image: url('../imgs/backgrounds/landing-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#skills {
  background-image: url('../imgs/backgrounds/skills-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}